{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	{% for folder in folders %}
		<div class="col-12 d-flex">
			<img src="picture/folder_win10.png" alt="Folder" width="3%"/>
			<div>{{folder.name}}</div>
			<form action="http://localhost:8000/server/add/sub_folder/{{server}}" id="formRegistration" method="POST">
				<div class="row col-12 p-0 m-0">
					<div class="row p-0 m-0 col-12">
						<input class="col-lg-12 p-2 animated fadeInLeft border" type="text" name="name" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value="{{folder.name}}" type="text" name="folderName" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value='1' type="number" name="level" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value="ok" type="text" name="subFolder_1"/>
					</div>
					<input id="submitFormRegistration" style="display: none;" type="submit" name="valide" value="Valider" class="btn border-secondary col-6 offset-3 mt-4 animated fadeInRight rounded text-white"/>
				</div>
			</form>
		</div>
		{% verbatim %}
			<div id="example-1">
				<button v-on:click="counter += 1">Add 1</button>
				<p>Le bouton ci-dessus a été cliqué
					{{ counter }}
					fois.</p>
			</div>
		{% endverbatim %}
	{% endfor %}
	{{ form_start(form, {'action' : path('server_add_folder', { 'server': server })}) }}
	{{ form_row(form.name, {'label':false})}}
	{{ form_end(form) }}
{% endblock %}
