{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<a id="div_0_add" href="javascript:visibiliteAdd('div_0');">
		<p>Nouveau</p>
	</a>
	<a id="div_0_folder_add" href="javascript:visibiliteFolder('div_0_folder');" style="display:none;">
		<p>Ajouter un Dossier</p>
	</a>
	<div id="div_0_folder_form" style="display:none;">
		{{ form_start(form, {'action' : path('add_folder', { 'server': server })}) }}
		{{ form_row(form.name, {'label':false})}}
		{{ form_end(form) }}
	</div>
	{% for folder in folders %}
		<div class="col-12 d-flex">
			<img src="picture/folder_win10.png" alt="Folder" width="3%"/>
			<div>{{folder.name}}</div>
			<a id="div_{{folder.jsId}}_add" href="javascript:visibiliteAdd('div_{{folder.jsId}}');">
				<p>Nouveau</p>
			</a>
			<a id="div_{{folder.jsId}}_folder_add" href="javascript:visibiliteFolder('div_{{folder.jsId}}_folder');" style="display:none;">
				<p>Ajouter un Dossier</p>
			</a>
			<div id="div_{{folder.jsId}}_folder_form" style="display:none;">
				<form action="http://localhost:8000/{{server}}/add/sub_folder/folder" id="formRegistration" method="POST">
					<div class="row col-12 p-0 m-0">
						<div class="row p-0 m-0 col-12">
							<input class="col-lg-12 p-2 animated fadeInLeft border" type="text" name="name" required="required"/>
						</div>
						<div style="display: none;">
							<input class="col-lg-12 p-2 animated fadeInLeft border" value="{{folder.jsId}}" type="text" name="onFolder" required="required"/>
						</div>
						<div style="display: none;">
							<input class="col-lg-12 p-2 animated fadeInLeft border" value="file" type="text" name="type" required="required"/>
						</div>
						<div style="display: none;">
							<input class="col-lg-12 p-2 animated fadeInLeft border" value='1' type="number" name="level" required="required"/>
						</div>
						<div style="display: none;">
							<input class="col-lg-12 p-2 animated fadeInLeft border" value="ok" type="text" name="subFolder"/>
						</div>
						<input id="submitFormRegistration" style="display: none;" type="submit" name="valide" value="Valider" class="btn border-secondary col-6 offset-3 mt-4 animated fadeInRight rounded text-white"/>
					</div>
				</form>
			</div>
			<a id="{{folder.jsId}}" class="btn js-close {{folder.jsId}}_close">
				<div>+</div>
			</a>
			<a id="{{folder.jsId}}" class="btn js-open {{folder.jsId}}_open d-none">
				<div>-</div>
			</a>
			<div id="{{folder.jsId}}_request"></div>
		</div>
	{% endfor %}
{% endblock %}
