{% for subFolder in listSubFolder %}
	{# <div class="col-12 d-flex">
		<img src="picture/folder_win10.png" alt="Folder" width="3%"/> #}
		<div>{{subFolder.name}}</div>
		{# <a href="javascript:visibilite('div_form{{subFolder.id}}');">
			<p>Ajouter un Dossier</p>
		</a>
		<div id="div_form{{subFolder.id}}" style="display:none;">
			<form action="http://localhost:8000/server/add/sub_folder/{{server}}" id="formRegistration" method="POST">
				<div class="row col-12 p-0 m-0">
					<div class="row p-0 m-0 col-12">
						<input class="col-lg-12 p-2 animated fadeInLeft border" type="text" name="name" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value="{{subFolder.name}}" type="text" name="folderName" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value="file" type="text" name="type" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value='1' type="number" name="level" required="required"/>
					</div>
					<div style="display: none;">
						<input class="col-lg-12 p-2 animated fadeInLeft border" value="ok" type="text" name="subFolder_1"/>
					</div>
					<input id="submitFormRegistration" style="display: none;" type="submit" name="valide" value="Valider" class="btn border-secondary col-6 offset-3 mt-4 animated fadeInRight rounded text-white"/>
				</div>
			</form>
		</div>
	</div> #}
{% endfor %}
