<div class="col-12 d-flex p-0">
	<a id="{{subFolder.jsId}}" class="btn js-close {{subFolder.jsId}}_close p-1">
		<div>+</div>
	</a>
	<a id="{{subFolder.jsId}}" class="btn js-open {{subFolder.jsId}}_open d-none p-1">
		<div>-</div>
	</a>
	{% if subFolder.type == "folder" %}
		<img src="/picture/folder.png" alt="Folder" width="20px" height="30px"/>
	{% else %}
		<img src="/picture/file.png" alt="Folder" width="20px" height="30px"/>
	{% endif %}
	<div>{{ subFolder.name }}</div>
	{% if project != "null" %}
		<form action="SubFolder/addCheckBox" method="post" id="{{subFolder.jsId}}" class="addCheckBox checkBox">
			<input type="checkbox" value="1" class="ml-2">
		</form>
	{% endif %}
</div>
<div id="{{subFolder.jsId}}_request" class="ml-3 border-left"></div>
